/* start of stylesheet */
/* paragraph section */
p {
	color: white;
}
p1 {
	color: black;
}
/* heading section */
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
H06 {
	color: black;
}
/* divider section */
HR {
	color: white;
}
/* transparent box section */
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
div.transbox {
  margin-top: 50px;
  margin-bottom: 100px; 
  margin-right: 20px;
  margin-left: 20 px;
  background-color: #00BFFF; /* The text was there, the background was the wrong color. A new beautiful shade of blue was added to fix this - April 6th 2019 */
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #ffffff;
}
/* end of styles */
/* end of stylesheet */